@model Hospital_Management.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}


<div class="container mt-5">



<div class="row justify-content-center">
    <div class="col-md-4">
          <h2 class="text-center">Edit Doctor Details</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorID" />
            <input type="hidden" asp-for="UserID" />
            <div class="form-group my-3">
                <label asp-for="UserID" class="control-label  my-2"></label>
                <div>
                        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID" disabled></select>
                </div>
                
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Name" class="control-label my-2"></label>
                <div class="text-center">
                    <input asp-for="Name" class="form-control"  />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group  my-3">
                <label asp-for="Gender" class="control-label my-2"></label>
               <div class="text-center">
                        <select asp-for="Gender" class="form-control" >
                            <option>Male</option>
                            <option>Female</option>
                        </select>
               </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Experience" class="control-label my-2"></label>
                <div class="text-center">
                    <input asp-for="Experience" class="form-control" />
                </div>
                
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="AboutDoctor" class="control-labe my-2l"></label>
                <div class="text-center">
                    <input asp-for="AboutDoctor" class="form-control" />
                </div>
                
                <span asp-validation-for="AboutDoctor" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-3">
                <input type="submit" value="Save" class="btn btn-primary w-25" />
                <a asp-action="Index" class="btn btn-danger my-2 w-25">Back</a>
            </div>
        </form>
    </div>
</div>



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
