@{
    ViewData["Title"] = "Access Denied";
}
<div class="text-center my-5">

    <h2 class="text-danger access">Access Denied</h2>
    <p class="paragraph">You do not have permission to access this resource.</p>
</div>

